.movie_card figure{
    height: 200px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.movie_card figcaption{
    position: absolute;
    top: 30%;
    left: 0;
    transform: translateY(120px);
    transition: all 0.4s ease-in-out;
    background-color: rgba(245, 244, 244, 0.6);
    width: 100%;
    padding: 20px;
    height: 70%;
}
.movie_card:hover figcaption{
    opacity: 1;
    transform: translateY(0);
}